<!-- <section  *ngIf="!gui.inputs" class="app-generator-message app-generator-message-processing">
    <div class="message-title-container">
      <div class="message-title">
        <span class="message-title-text" >Loading...</span>
      </div>
    </div>
    <div class="message-body-container">
      <div class="message-body">
        <div class="busy-indicator">
          <div class="spinner spinner-lg"></div>
        </div>
      </div>
    </div>
  </section> -->

 <section *ngIf="gui.inputs">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-horizontal">
              <label title="organisation" required>Organisation</label>
                <single-selection-dropdown *ngIf="gui.inputs"
                  class="input-group width-100" [field]="gui.inputs[0]">
                </single-selection-dropdown>
          </div>
        </div>
      </div>
  </section>
