<pfng-wizard #wizard
    [config]="config"
    (onCancel)="cancel($event)"
    (onNext)="nextClicked($event)"
    (onPrevious)="previousClicked($event)">

    <div style="min-height: 450px" class="wizard-pf-loading blank-slate-pf loading" *ngIf="!currentGui.inputs">
        <div class="spinner spinner-lg blank-slate-pf-icon"></div>
        <h3 class="blank-slate-pf-main-action">Loading Wizard</h3>
        <p class="blank-slate-pf-secondary-action">
          The wizard is loading the initial screen...
        </p>
    </div>

  <pfng-wizard-step [config]="stepGithubImportPickOrganisation">
      <organisation-step [gui]= "currentGui"></organisation-step>
  </pfng-wizard-step>

  <pfng-wizard-step [config]="stepGithubRepositories">
      <repositories-step [gui]= "currentGui"></repositories-step>
  </pfng-wizard-step>

  <pfng-wizard-step [config]="stepConfigurePipeline">
      TODO stepConfigurePipeline
  </pfng-wizard-step>

  <pfng-wizard-step [config]="stepCreateBuildConfig">
      TODO stepCreateBuildConfig
  </pfng-wizard-step>

</pfng-wizard>
