<pfng-wizard #wizard
    [config]="config"
    (onCancel)="cancel($event)"
    (onNext)="nextClicked($event)"
    (onPrevious)="previousClicked($event)"
    (onStepChange)="stepChanged($event)">

    <div style="min-height: 450px" class="wizard-pf-loading blank-slate-pf loading" *ngIf="isLoading">
        <div class="spinner spinner-lg blank-slate-pf-icon"></div>
        <h3 class="blank-slate-pf-main-action">Loading Wizard</h3>
        <p class="blank-slate-pf-secondary-action">
          The wizard is loading the initial screen...
        </p>
    </div>

  <div [formGroup]="form" [ngSwitch]="currentGui.metadata?.name">
    <pfng-wizard-step [config]="stepGithubImportPickOrganisation">
      <span *ngSwitchCase="'io.fabric8.forge.generator.github.GithubImportPickOrganisationStep'">
        <organisation-step [gui]="currentGui" [form]="form"></organisation-step>
      </span>
    </pfng-wizard-step>

    <pfng-wizard-step [config]="stepGithubRepositories">
      <span *ngSwitchCase="'io.fabric8.forge.generator.github.GithubImportPickRepositoriesStep'">
        <repositories-step [gui]= "currentGui" [form]="form"></repositories-step>
      </span>
    </pfng-wizard-step>

    <pfng-wizard-step [config]="stepConfigurePipeline">
      <span *ngSwitchCase="'Obsidian: Configure Pipeline'">
        <pipeline-step [gui]="currentGui"></pipeline-step>
      </span>
    </pfng-wizard-step>

    <pfng-wizard-step [config]="stepCreateBuildConfig">
      <span *ngSwitchCase="'io.fabric8.forge.generator.kubernetes.CreateBuildConfigStep'">
        <build-config-step [gui]="currentGui" [form]="form"></build-config-step>
      </span>
    </pfng-wizard-step>
  </div>
</pfng-wizard>
