@import (reference) '../../../assets/stylesheets/shared/osio.less';


.rh-branding-logo {
    width: 25%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}
.icon-4x {
    font-size: @pf-icon-4x;
}