<div  class="container">
  <div class="row">
    <div class="blank-slate-pf">
      <div class="rh-branding-logo">
        <img class="width-100"
          src="../../../assets/images/Logotype_RH_OpenShift-io_RGB_RedGray.png">
      </div>
      <div *ngIf="verified === 'true'">
        <span class="fa fa-trophy icon-4x"></span>
        <h1>
          Your e-mail has been confirmed</h1>
        <hr>
        <p>Thank you for validating your e-mail address.
          You can now contribute to use Openshift.io
        </p>
      </div>
      <div *ngIf="verified === 'false'">
        <span class="fa fa-frown-o icon-4x"></span>
        <h1>
          This URL has already been used to verify your e-mail
        </h1>
        <hr>
        <p>Your e-mail address has been approved.
          Click on my profile below to continue.
        </p>
      </div>
      <div class="blank-slate-pf-main-action">
        <a href="#"
          class="btn btn-primary btn-lg">Continue to my dashboard</a>
      </div>
    </div>
  </div>
</div>
