<div class="combobox-container">
  <div [class.width-100]="!field.enabled" class="input-group">
    <input type="text" [title]="field.label" [class.form-control-danger]="!field.valid" [id]="field.label"
      [name]="field.label" class="user-select-none combobox form-control" readonly="true" [value]="model"
      (click)="toggleDropdown()" placeholder="select an option">
    <ul class="dropdown-menu" [class.open]="showDropdown">
      <li class="choice-container" (click)="setSelected(choice);toggleDropdown()"
        *ngFor="let choice of field.valueChoices">
        <div [class.selected]="field.value === choice.id" class="dropdown-menu-item user-select-none cursor-pointer">
          <div class="choice-item">
            <div class="choice-content">
              <div class="item-name">{{choice.name}}</div>
              <div *ngIf="choice.description" class="item-description">{{choice.description||''}}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <span class="input-group-addon" (click)="toggleDropdown()">
      <span class="caret"></span>
      <span class="glyphicon glyphicon-remove"></span>
    </span>
  </div>
</div>
