@import (reference) '../../../../assets/stylesheets/shared/osio.less';

.feature-title {
  font-weight: bold;
  font-size: @font-size-base;
  margin-bottom: 0;
}

.feature-description {
  margin-bottom: 0;
  font-size: .85em;
}

.feature-details-title {
  margin-bottom: 7px;
  font-size: @font-size-base;
}

.feature-details-description {
  margin-bottom: 0;
  font-size: @font-size-small;
}

.checkbox {
  border-right: 1px solid @color-pf-black-300;
  float: left;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-top: 20px;
  padding: 3px 10px 3px 0;
}

.list-pf-container {
  padding: 5px 5px 0 30px;
}

.icon-big {
  font-size: 2.4em;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
