<div class="container-fluid container-cards-pf">
  <div class="col-xs-10 col-sm-12">
      <pfng-list
        [config]="listConfig"
        [expandTemplate]="untoggledTemplate"
        [items]="items"
        [itemTemplate]="itemTemplate">


        <ng-template #itemTemplate let-item="item">
          <div class="list-pf-left list-pf-content-flex">
            <pfng-list-expand-toggle [expandId]="item.name" [item]="item" [template]="betaFeatureTemplate">
              <ng-template #betaFeatureTemplate>
              </ng-template>
            </pfng-list-expand-toggle>
          </div>

          <div class="checkbox list-pf-left list-pf-content-flex">
            <input id="{{item.name}}" type="radio" name="{{item.title}}" value="{{item.name}}" [(ngModel)]="featureLevel" (ngModelChange)="updateProfile()">
          </div>
          <div class="list-pf-main-content">
            <div class="list-pf-left">
              <span class="fa {{item.icon}} list-pf-icon list-pf-icon-bordered list-pf-icon-small"></span>
            </div>
            <div class="list-pf-main-content">
              <div>
                <p class="feature-title">{{item.title}}</p>
                <p class="feature-description">{{item.description}}</p>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #untoggledTemplate let-item="item" let-index="index">
          <div *ngIf="item.expandId === 'released'">
            {{item.name}}
          </div>
          <div *ngIf="item.expandId === 'beta'">
            {{item.name}}
          </div>
          <div *ngIf="item.expandId === 'experimental'">
            {{item.name}}
          </div>
          <div *ngIf="item.expandId === 'internal'">
            {{item.name}}
          </div>
        </ng-template>
      </pfng-list>
  </div>
</div>


