@import '../../assets/stylesheets/base';

.card-pf-heading-bg {
  background-color: $color-pf-black-200;
  margin-left: -20px;
  margin-top: -2px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
}

.card-pf-view .card-pf-title {
  font-weight: 400;
}

.home-wrapper {
  background-color: $color-pf-black-150;
  height: 100%;
  padding-top: 2rem;
  .pf-icon-home {
    font-size: $pf-icon-4x;
    padding: 5rem 0 3rem;
  }
}

.home-space-list-result {
  .list-view-pf-view {
    margin-top: 10px;
  }
  .list-group {
    margin-bottom: 0px;
  }
}

.home-logo {
  margin-top: 20px;
  max-width: 350px;
  width: 100%;
}

.workitem-card {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  p {
    margin-bottom: 20px;
    margin-top: 20px;
    &:first-child {
      margin-top: -10px;
    }
    &:last-child {
      margin-top: 40px;
    }
  }
}
